:root {
  --text-01: #45413E;
  --light-01: #F9F9F9;
  --light-02: #FFFFFF;
  --brand-01: #fe7c20;
  --brand-02: #F4CFC6;
  --orange: #fe7c20;
--lightorange: #fc9f5d;
  --card-hover: 0px 4px 24px rgba(0, 0, 0, 0.15);
  --card-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  --hover-timing: all 0.2s ease;
  --nav-card-size: 240px;

  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-weight: 500;
  transition: var(--hover-timing);

  background: var(--light-01);

width: 100vw;
overflow-x: hidden;

}

header {
  /*    width: 100%;*/
  height: auto;
  position: sticky;
  top: 0;
  /*    border: 1px solid red;*/
  z-index: 100;
}

.banner {
  background: var(--brand-01);
  color: var(--light-01);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;

}

nav {
  color: var(--text-01);
  font-weight: 600;
  height: 64px;
  background: var(--light-01);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--pg-margin);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 100;
}

nav ul.navigation-menu {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  position: relative;
  top: 0;
}

nav .navigation-menu a {
  font-size: 16px;
  text-decoration: none;
  color: var(--text-01);

}

nav .navigation-menu > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*    justify-items: center;*/
}

nav .navigation-menu > li > a {
  position: relative;
  /*    border: 1px solid purple;*/
  padding: 0 20px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-items: center;
}

nav .navigation-menu > li:hover ul.subnav {
  visibility: visible;
  opacity: 1;
  top: 64px;

}


nav .navigation-menu > li > ul.subnav {
  /*    border: 1px solid green;*/
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 66px;
  background: var(--light-01);
  box-shadow: var(--card-hover);
  border-radius: 12px;
  opacity: 0;
  transition: var(--hover-timing);
}


nav > #logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 8px;
  line-height: 100%;
}

nav > #logo > span {
  font-size: 32px;
}

nav > #utility {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 16px;
}

.card-large,
.card-med {
  /*    border: 1px solid orange;*/
  flex: 1;
  /*    width: var(--nav-card-size);*/

  position: relative;
  display: flex;
  flex-direction: column;
  /*    padding: 24px;*/
  transition: var(--hover-timing);
  cursor: pointer;
}


.card-large {
  box-shadow: var(--card-shadow);
  border-radius: 12px;
  overflow: hidden;
  /*    padding-bottom: 32px;*/
}
.star {
  font-size: 40px; /* Adjust the size of the stars */
  color: #ccc; /* Set the color of the inactive stars */
  cursor: pointer; /* Change cursor to pointer on hover */
  color:#edde06;
}

.card-large:hover {
  box-shadow: var(--card-hover);
  transform: scale(1.01);
}
.criteria__text {
  color: #ffffff;
}
input[type="range"] {
  width: 70%; /* Make the slider take the full width of its container */
  height: 25px; /* Increase the height of the slider */
  -webkit-appearance: none; /* Override default appearance */
  margin: 10px 0; /* Add some margin for spacing */
  border-radius: 10px;
  background-color: #5b5b5b;
  border-top-color: #e66100;
  
}
input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  
  /* Style for custom radio button */
  .custom-radio {
    display: inline-block;
    width: 30px; /* Set the size of the custom radio button */
    height: 30px;
    border: 2px solid #fe7c20; /* Border color */
    border-radius: 50%; /* Make it circular */
    margin-right: 10px; /* Add space between the custom radio button and the label */
  }
  /* Style for selected custom radio button */
  .custom-radio.selected {
    background-color: #fe7c20; /* Change background color when selected */
  }
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default appearance */
  appearance: none;
  width: 25px; /* Increase the width of the thumb */
  height: 25px; /* Increase the height of the thumb */
  border-radius: 10px;
  background: #fe7c20; /* Match the thumb color with the button color */
  cursor: pointer; /* Indicate that the thumb is draggable */
}

input[type="range"]::-moz-range-thumb {
  width: 25px; /* Increase the width of the thumb */
  height: 25px; /* Increase the height of the thumb */
  cursor: pointer; /* Indicate that the thumb is draggable */
}

.criteria-box {
  border-radius: 30px;
  padding: 5px; /* Reduced padding */
  margin: 85px; /* Added margin */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3em; /* Reduced font size */
  background-color: #e9e9e9; /* Background color with 35% opacity */ /* Fallback background color in case transparency is not supported */
}

.criteria-line:not(.child_room) {
  align-items: center;
  margin-bottom: 5px;
  color: #313131;
  text-align: center;
  margin-top: 20px;
}

.criteria-box form button {
  padding: 5px 10px; /* Reduced padding */
  font-size: 1.2em; /* Reduced font size */
  color: white; /* Change text color to white */
  margin: 0 auto; /* Center the button */
  border-radius: 20px;
  background: linear-gradient(to right, #fe7c20, #fa974f); /* Gradient background */
  border: none; /* Remove border */
  border:2px solid #fe7c20;
}





.card-med:hover .card-image {
  transform: scale(1.01);
}
.main {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Aligns content to the top */
  color: white; /* Sets text color to white */ /* Example background color for contrast */
  font-size: 4em; /* Makes the text larger */
}
.card-image {
  width: 100%;
  /*    height: 90%;*/
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--hover-timing);
}

.card-large > .card-image {
  aspect-ratio: 3/2;
}

.card-image > img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: contain;



}

.card-large a {
  text-decoration: none;
  font-weight: 600;
}

.card-large > .card-image > a {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  font-size: 24px;
  line-height: 1.2;
}




.card-large > ul {
  /*    padding: 16px 0 24px;*/
  display: flex;
  flex-direction: column;
  grid-gap: 1px;
  flex: 1;
  /*    border: 1px solid blue;*/

  color: var(--text-01);

  padding: 0 4px 4px;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.5;
}



.card-large > ul > li a {
  line-height: 32px;
  font-size: 14px;
  /*    border: 1px solid red;*/
}


.card-large#sup-first,
.card-med#sup-first > .card-image {
  background: linear-gradient(45deg, #fe7c20 0%, #fe7c20 100%);
}


button.btn-outline {
  color: var(--light-01);
  border-color: var(--light-01);
}


.card-large#sup-second,
.card-med#sup-second > .card-image {
  background: linear-gradient(45deg, #EFEFEF 0%, #F2F2F2 100%);
}


.card-large#sup-third,
.card-med#sup-third > .card-image {
  background: linear-gradient(45deg, #EFEFEF 0%, #F2F2F2 100%);
}


.card-large#sup-forth,
.card-med#sup-forth > .card-image {
  background: linear-gradient(45deg, #fe7c20 0%, #fe7c20 100%);
}


.card-large.card-dark a,
.card-large.card-dark > ul {
  color: var(--text-01);
}

.card-large.card-light a,
.card-large.card-light > ul {
  color: var(--light-01);
}




button[type="button"] {
  padding: 5px 10px; /* Reduced padding */
  font-size: 1.2em; /* Reduced font size */
  color: white; /* Change text color to white */
  margin: 0 auto; /* Center the button */
  border-radius: 20px;
  background: linear-gradient(to right, #fe7c20, #fa974f); /* Gradient background */
  border: none; /* Remove border */
  border:2px solid #fe7c20;
}

button[type="button"]:hover {
  background-color: #e66100; /* Darker shade of orange on hover */
}




.btn-outline-dark:hover {
  background: var(--text-01);
  border: 2px solid var(--text-01);
}

.btn-outline-light:hover {
  background: var(--light-01);
  border: 2px solid var(--light-01);
  color: var(--text-01);


}

.filter-icon {
 width: 40px;
 height: 40px;
}

button:hover,
.btn-outline-dark.btn-hover-color:hover {
  color: var(--light-01);
  border: 2px solid var(--brand-01);
  background: var(--brand-01);
  transition: var(--hover-timing);
  box-shadow: var(--card-hover);
}


section,
footer {
  position: relative;
  width: 100%;
  padding: 0 var(--pg-margin);
}

.sorted__rest{
  background-color: rgb(181, 203, 187);
  display: none;
}


section.hero {
  background: url("restaurant.jpg");
  background-size: cover; /* Ensure the background image covers the entire container */
  background-position: center; /* Center the background image */
  display: flex; /* Use flexbox for layout */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  grid-gap: 30px;
}

.card-med {
  width: var(--nav-card-size);
  height: auto;
  /*    border: 1px solid green;*/
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.card-med > a {
  display: flex;
  flex-direction: column;
  grid-gap: 4px;
  padding: 12px 16px 0px;
}

.card-med > a > span {
  width: 100%;
  /*    border: 1px solid blue;*/
}

.card-med > a > span:nth-of-type(1) {
  width: 100%;
  /*    border: 1px solid blue;*/
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}

.card-med > a > span:nth-of-type(2) {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 6px;
}

.card-med > a > span:nth-of-type(2) > span {
  font-size: 18px;
}


#serv-review-and-rating > .card-image {
  background-image: url('restaurant.jpg');
  background-size: cover; /* Ensure the photo covers the entire background */
  background-position: center; /* Center the photo */
}


#serv-menu-exploration > .card-image {
  background-image: url('menu.png');
  background-size: cover; /* Ensure the photo covers the entire background */
  background-position: center; /* Center the photo */
}

.card-med:hover .card-image {
  box-shadow: var(--card-hover);
}


.card-med > .card-image {
  box-shadow: var(--card-shadow);
}

.card-med > .card-image > img {
  width: 80%;
  height: 80%;
  /*    border: 1px solid red;*/
}



section h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  color:#000000 ;
  margin-bottom: 32px;
  /*    padding-bottom: 24px;*/
}
section h4 {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  margin-bottom: 32px;
  -webkit-text-stroke: 1px #141313; /* Add text outline for WebKit browsers */
  text-stroke: 2px #141313; /* Add text outline */
}


.card-wide {
  flex-direction: row;
  padding: 0;
}

.card-wide .card-image {
  width: 50%;
  border-radius: 0;
}

.card-image img {
  width: 80%;
  height: 80%;
}

.card-wide > ul {
  padding: 40px;
}

.card-wide > ul > li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-gap: 24px;
  margin-bottom: 16px;
}



.card-wide .subtitle {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
  /*    margin-top: 8px;*/
  margin-bottom: 24px;
}

.card-wide > ul > li span {
  font-size: 16px;
}

.card-large > ul > li:last-of-type {
  margin-bottom: 40px;
}
#sortedResults {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  grid-gap: 20px; /* Gap between items */
}

.restaurant {
  text-align: center;
  margin-bottom: 20px; /* Add space between rows */
}

.restaurant img {
  width: 100%; /* Ensure image fills its container */
  height: 200px; /* Set a fixed height for the image */
  object-fit: cover; /* Ensure the image covers the entire container */
  border: 4px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
}

.restaurant h3, .restaurant p {
  color: rgb(255, 255, 255);
  font-size: 30px;
}

.restaurant p span {
  color: orange;
}


.card-large button {
  margin-top: auto;
}

#locate > div {
  background: var(--brand-02);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  border-radius: 12px;
  box-shadow: var(--card-shadow);
  transition: var(--hover-timing);
  cursor: pointer;
}

#locate > div:hover {
  box-shadow: var(--card-hover);
}

#locate h2 {
  margin-top: 0;
}

#locate p {
  line-height: 1.5;
  margin-bottom: 40px;
  width: 50%;
  text-align: center;
}


.btn-group {
  display: flex;
  flex-direction: row;
  grid-gap: 16px;
}

footer {
  background: var(--text-01);
  padding: 80px 80px 0px;
  margin-top: 80px;
  display: flex;
}



footer ul {
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
  box-shadow: none;
  flex: 1;
  color: var(--light-01);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 80px;

}


footer ul li a {
  color: var(--light-01);
  text-decoration: none;
  font-size: 14px;
}


footer ul li {
  color: var(--light-01);
  padding: 0;

}



@media only screen and (max-width: 600px) {
  :root {
      --pg-margin: 16px;
  }



  section.hero h1 {
      --hero-text: 40px;
      width: 80%;
  }


  nav {
      position: relative;
  }

  nav ul.navigation-menu {
      position: absolute;
      position: absolute;
      top: 64px;
      background: var(--light-01);
      left: 0;
      z-index: -1;
      width: 100vw;
  }

  nav ul.navigation-menu li a {
      font-size: 16px;
      /*        padding: 0 12px;*/
      white-space: nowrap;
  }

  nav ul.navigation-menu .subnav {
      display: none;
  }

  nav ul.navigation-menu > li:hover .subnav {
      display: none;
  }


  .btn-group {
      flex-direction: column;
  }

  .shop-pets,
  .services {
      display: flex;
      flex-direction: column;
      grid-gap: 24px;
      width: 100%;
  }

  .services > li {
      display: flex;
      flex-direction: column;
  }

  .services > li > .card-image {
      width: 100%;
  }


  #locate p {

      width: 80%;
  }

  footer {
      flex-direction: column;
      text-align: center;
  }


}

@media only screen and (min-width: 600px) {
  :root {
      --pg-margin: 24px;
  }

  section.hero h1 {
      --hero-text: 40px;
      width: 60%;
  }


  nav {
      position: relative;

  }

  nav ul.navigation-menu {
      position: absolute;
      top: 64px;
      background: var(--light-01);
      left: 0;
      z-index: -1;
      width: 100vw;
  }

  nav ul.navigation-menu li a {
      font-size: 16px;
      white-space: nowrap;
  }

  nav ul.navigation-menu .subnav {
      display: none;
  }

  nav ul.navigation-menu > li:hover .subnav {
      display: none;
  }

  .btn-group {
      display: flex;
      flex-direction: column;
  }

  .shop-pets {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row: auto auto;
      grid-column-gap: 24px;
      grid-row-gap: 24px;
  }

  .services {
      display: flex;
      flex-direction: column;
      grid-gap: 24px;
  }

  section:not(.hero) {
      padding: var(--pg-margin);
  }

  #locate p {

      width: 60%;
  }

  footer {
      flex-direction: column;
      text-align: center;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
      --pg-margin: 48px;
  }

  section.hero h1 {
      --hero-text: 48px;
  }

  .btn-group {
      flex-direction: row;
  }

  .shop-pets,
  .services {
      display: flex;
      flex-direction: row;
      grid-gap: 24px;
  }

  ul.subnav {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row: auto auto;
      grid-column-gap: 24px;
      grid-row-gap: 24px;
      padding: 48px;
  }


  nav ul.navigation-menu {
      top: 0;
      z-index: 1;
      background: none;
      width: auto;
      position: relative;
  }

  nav ul.navigation-menu .subnav {
      display: flex;
  }

  nav ul.navigation-menu > li:hover .subnav {
      display: flex;
  }

  #locate p {

      width: 40%;
  }

  footer {


      flex-direction: row;
      text-align: left;

  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  :root {
      --pg-margin: 80px;
  }

  section.hero h1 {
      --hero-text: 56px;
  }

  nav .navigation-menu > li > ul.subnav {
      padding: 48px;
      grid-gap: 24px;
  }



  .shop-pets,
  .services {
      display: flex;
      flex-direction: row;
      grid-gap: 24px;
  }

  nav ul.navigation-menu {
      top: 0;
      z-index: 1;
      background: none;
      width: auto;
      position: relative;
  }

  ul.subnav {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row: auto auto;
      grid-column-gap: 24px;
      grid-row-gap: 24px;
      padding: 48px;
  }

  nav ul.navigation-menu > li:hover .subnav {
      display: grid;
  }

  #locate p {

      width: 40%;
  }

  footer {


      flex-direction: row;
      text-align: left;

  }

}



.btn-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 16px;
}

.input-filled-dark {
  background-color: var(--light-01); /* Dark background color */
  color: #141313; /* White text color */
  border: none; /* Remove border */
  padding: 10px; /* Add padding for better appearance */
  border-radius: 10px;
  width: 500px; /* Set width to 90% of its container */
  max-width: 500px;
  height: 60px; /* Limit maximum width to 500px */
}

.btn_wrap {
  display: flex;
  flex-direction: row;
  gap: 10px;
}


#Cuisine fieldset {
  margin-bottom: 10px; /* Add space below rows */
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center; /* Center items horizontally */
  font-weight: bold; /* Make the text bold */
}
fieldset label{
  border: #e66100;
}

#Cuisine fieldset label{

  flex: 1 0 calc(33.33% - 20px);
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  font-weight: bold; /* Make the text bold */
  display: flex;
  word-wrap: break-word; /* Wrap long words */
  white-space: nowrap; /* Prevent text from wrapping */
  text-align: center;
  border: 2px solid #fe7c20;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  height: 100px; /* Fixed height for labels */
  overflow: scroll; /* Hide overflow */
  text-overflow: ellipsis; /* Display ellipsis for truncated text */
  font-size: 16px; /* Default font size */
}

input[type="checkbox"] {
  display: none;
}
.Child + label {
  font-size: 40px; /* Adjust the font size as needed */
  padding: 20px;
  width:600px; /* Adjust the padding as needed */
  border: 2px solid #fe7c20;
}
fieldset input[type="radio"] {
  font-size: 40px; /* Adjust the font size as needed */
}
input[type="checkbox"]:checked + label {
  background-color: #fe7c20;
  color: #fff;
}
.criteria-line input[type="range"] {
  border: 2px solid #fe7c20; /* Change the color code to your desired color */
}

 /* Style for the location input */
.location {
  margin-bottom: 20px;
}

#locationInput {
  width: 500px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  outline: none;
  transition: border-color 0.3s ease;
}

#locationInput:focus {
  border-color: #fe7c20; /* Change border color on focus */
}

/* Placeholder style */
::placeholder {
  color: #999; /* Placeholder color */
}