:root {
    --white: #e9e9e9;
    --gray: #333;
    --orange: #fe7c20;
    --lightorange: #fc9f5d;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    color: var(--gray);
    background-color: var(--white);
}

header {
    background-color: var(--white);
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.company-info {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
}

.company-logo {
    max-width: 80px;
    margin-right: 10px; /* Add some space between the logo and the company name */
}

.company-name {
    font-size: 24px;
    margin: 0;
    color: var(--gray);
}


.home-button {
    position: absolute;
    top: 40px; /* Adjust the top position as needed */
    left: 20px; /* Adjust the right position as needed */
    background-color: var(--gray);
    color: var(--white);
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: var(--orange);
}


.restaurant-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.restaurant-photo {
    position: relative;
    width: 100%;
}

.restaurant-photo img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.restaurant-name {
    position: absolute;
    top: 50%;
    left: 50%; /* Center the container horizontally */
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 36px;
    color: #fff;
    margin: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    text-align: center; /* Center the text horizontally */
}

.restaurant-photo {
    width: 100%; /* Adjust the width of the container */
    height: 350px; /* Adjust the height of the container */
    margin-bottom: 20px; /* Optionally adjust margin to control spacing */
    border-radius: 5px;
    overflow: hidden; /* Hide any overflow content (e.g., if the photo is larger than the container) */
}

.restaurant-photo img {
    width: 100%; /* Ensure the image fills the container width */
    height: 100%; /* Ensure the image fills the container height */
    object-fit: cover; /* Maintain aspect ratio while covering the container */
}

.restaurant-info {
    display: flex;
    justify-content: space-between; /* Align items with space in between */
    align-items: flex-start; /* Align items to the start vertically */
    margin-top: 20px;
}

.info-section {
    flex: 1; /* Expand to fill available space */
    width: calc(50% - 10px); /* Set width to half of the available space with some margin */
    margin-right: 10px; /* Add margin between sections */
}

.info-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-link {
    color: var(--orange);
    text-decoration: none;
}

.menu-link:hover {
    text-decoration: underline;
}

.gallery-section {
    flex: 1; /* Expand to fill available space */
    width: calc(50% - 10px); /* Set width to half of the available space with some margin */
    margin-right: 10px; /* Add margin between sections */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

#carousel {
    perspective: 1000px;
    background: var(--white);
    padding-top: 10%;
    font-size: 0;
    margin-bottom: 3rem;
    overflow: hidden;
}

#spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: 1s;
}

.arrows {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.arrow {
    color: var(--gray);
    margin: 0 5px;
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    transition: 0.6s color;
    cursor: pointer;
}

.arrow:hover {
    color: #888;
}


div#carousel { 
    perspective: 1200px; 
    background: #fff; 
    padding-top: 10%; 
    font-size:0; 
    margin-bottom: 3rem; 
    overflow: hidden; 
  }
  figure#spinner { 
    transform-style: preserve-3d; 
    height: 200px; 
    transform-origin: 50% 50% -500px; 
    transition: 1s; 
  } 
  figure#spinner img { 
    width: 70%; max-width: 425px; 
    position: absolute; left: 30%;
    transform-origin: 50% 50% -500px;
    outline:1px solid transparent; 
  }
  figure#spinner img:nth-child(1) { transform:rotateY(0deg); 
  }
  figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
  figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
  figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
  figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
  figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
  figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
  figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
  div#carousel ~ span { 
    color: #fff; 
    margin: 5%; 
    display: inline-block; 
    text-decoration: none; 
    font-size: 2rem; 
    transition: 0.6s color; 
    position: relative; 
    margin-top: -6rem; 
    border-bottom: none; 
    line-height: 0; }
  div#carousel ~ span:hover { color: #888; cursor: pointer; }

.reviews-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.review {
    border: 1px solid transparent;
    border-radius: 5px;
    color: #777;
    display: flex;
    font-size: 12px;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
}

.review:hover {
    border: 1px solid #ddd;
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.7);
}

.progress {
    background-color: rgba(100, 100, 100, 0.2);
    border-radius: 5px;
    position: relative;
    margin: 0 10px;
    height: 10px;
    width: 200px;
}

.progress-done {
    background: linear-gradient(to left, #fe7c20, #fc9f5d);
    box-shadow: 0 3px 3px -5px #858585, 0 2px 5px #858585;
    border-radius: 5px;
    height: 10px;
    width: 0;
    transition: width 1s ease 0.3s;
}

.percent {
    color: #333;
}

/* SOCIAL PANEL CSS */
.social-panel-container {
    position: fixed;
    right: 0;
    bottom: 80px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
    transform: translateX(-10px);
}

.social-panel {	
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
    border: 5px solid #001F61;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Muli';
    position: relative;
    height: 169px;	
    width: 370px;
    max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
    border: 0;
    color: #97A5CE;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.social-panel button.close-btn:focus {
    outline: none;
}

.social-panel p {
    background-color: #001F61;
    border-radius: 0 0 10px 10px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding: 2px 17px 6px;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    text-align: center;
    width: 235px;
}

.social-panel p i {
    margin: 0 5px;
}

.social-panel p a {
    color: #FF7500;
    text-decoration: none;
}

.social-panel h4 {
    margin: 20px 0;
    color: #97A5CE;	
    font-family: 'Muli';	
    font-size: 14px;	
    line-height: 18px;
    text-transform: uppercase;
}

.social-panel ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-panel ul li {
    margin: 0 10px;
}

.social-panel ul li a {
    border: 1px solid #DCE1F2;
    border-radius: 50%;
    color: #001F61;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    text-decoration: none;
}

.social-panel ul li a:hover {
    border-color: #FF6A00;
    box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
    border-radius: 26.5px;
    background-color: #001F61;
    border: 1px solid #001F61;
    box-shadow: 0 16px 22px -17px #03153B;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.floating-btn:hover {
    background-color: #ffffff;
    color: #001F61;
}

.floating-btn:focus {
    outline: none;
}

.floating-text {
    background-color: #001F61;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-family: 'Muli';
    padding: 7px 15px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 998;
}

.floating-text a {
    color: #FF7500;
    text-decoration: none;
}

@media screen and (max-width: 480px) {

    .social-panel-container.visible {
        transform: translateX(0px);
    }
    
    .floating-btn {
        right: 10px;
    }
}

.address {
    font-size: 16px;
    margin-bottom: 10px;
}

.description {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
}

.star-rating {
    display: inline-block;
}

.star-rating input[type="radio"] {
    display: none;
  }
  
  .star-rating label {
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
  }
  
  .star-rating label.checked ~ label,
  .star-rating input[type="radio"]:checked ~ label {
    color: #FF7500;
  }

.feedback {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-rating {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: var(--orange); /* blue color */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-rating:hover {
    background-color: var(--lightorange); /* darker blue color */
}

textarea {
    resize: none;
    height: 30px; /* Set the height */
}

.review {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.reviewer-info {
    display: flex;
    align-items: center;
}

.reviewer-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.review-content {
    font-style: italic;
    color: #666;
}